
.vs/Demo QLDSV/v15/.suo

.vs/Demo QLDSV/v15/Server/sqlite3/db.lock

.vs/Demo QLDSV/v15/Server/sqlite3/storage.ide

.vs/Demo QLDSV/v15/Server/sqlite3/storage.ide-shm

.vs/Demo QLDSV/v15/Server/sqlite3/storage.ide-wal

Demo QLDSV/bin/Debug/de/DevExpress.Data.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.Office.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.Pdf.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.Printing.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.RichEdit.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.Sparkline.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.Utils.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.XtraBars.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.XtraEditors.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.XtraGrid.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.XtraLayout.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.XtraPrinting.v17.1.resources.dll

Demo QLDSV/bin/Debug/de/DevExpress.XtraTreeList.v17.1.resources.dll

Demo QLDSV/bin/Debug/Demo QLDSV.exe

Demo QLDSV/bin/Debug/Demo QLDSV.exe.config

Demo QLDSV/bin/Debug/Demo QLDSV.pdb

Demo QLDSV/bin/Debug/DevExpress.BonusSkins.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.Data.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.Data.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.Office.v17.1.Core.dll

Demo QLDSV/bin/Debug/DevExpress.Office.v17.1.Core.xml

Demo QLDSV/bin/Debug/DevExpress.Pdf.v17.1.Core.dll

Demo QLDSV/bin/Debug/DevExpress.Pdf.v17.1.Core.xml

Demo QLDSV/bin/Debug/DevExpress.Printing.v17.1.Core.dll

Demo QLDSV/bin/Debug/DevExpress.Printing.v17.1.Core.xml

Demo QLDSV/bin/Debug/DevExpress.RichEdit.v17.1.Core.dll

Demo QLDSV/bin/Debug/DevExpress.RichEdit.v17.1.Core.xml

Demo QLDSV/bin/Debug/DevExpress.Sparkline.v17.1.Core.dll

Demo QLDSV/bin/Debug/DevExpress.Sparkline.v17.1.Core.xml

Demo QLDSV/bin/Debug/DevExpress.Utils.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.Utils.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.XtraBars.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.XtraBars.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.XtraEditors.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.XtraEditors.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.XtraGrid.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.XtraGrid.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.XtraLayout.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.XtraLayout.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.XtraPrinting.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.XtraPrinting.v17.1.xml

Demo QLDSV/bin/Debug/DevExpress.XtraTreeList.v17.1.dll

Demo QLDSV/bin/Debug/DevExpress.XtraTreeList.v17.1.xml

Demo QLDSV/bin/Debug/es/DevExpress.Data.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.Office.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.Pdf.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.Printing.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.RichEdit.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.Sparkline.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.Utils.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.XtraBars.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.XtraEditors.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.XtraGrid.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.XtraLayout.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.XtraPrinting.v17.1.resources.dll

Demo QLDSV/bin/Debug/es/DevExpress.XtraTreeList.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.Data.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.Office.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.Pdf.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.Printing.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.RichEdit.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.Sparkline.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.Utils.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.XtraBars.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.XtraEditors.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.XtraGrid.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.XtraLayout.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.XtraPrinting.v17.1.resources.dll

Demo QLDSV/bin/Debug/ja/DevExpress.XtraTreeList.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.Data.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.Office.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.Pdf.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.Printing.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.RichEdit.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.Sparkline.v17.1.Core.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.Utils.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.XtraBars.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.XtraEditors.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.XtraGrid.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.XtraLayout.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.XtraPrinting.v17.1.resources.dll

Demo QLDSV/bin/Debug/ru/DevExpress.XtraTreeList.v17.1.resources.dll

Demo QLDSV/obj/Debug/Demo QLDSV.csproj.CopyComplete

Demo QLDSV/obj/Debug/Demo QLDSV.csproj.CoreCompileInputs.cache

Demo QLDSV/obj/Debug/Demo QLDSV.csproj.FileListAbsolute.txt

Demo QLDSV/obj/Debug/Demo QLDSV.csproj.GenerateResource.cache

Demo QLDSV/obj/Debug/Demo QLDSV.csprojAssemblyReference.cache

Demo QLDSV/obj/Debug/Demo QLDSV.exe

Demo QLDSV/obj/Debug/demo qldsv.exe.licenses

Demo QLDSV/obj/Debug/Demo QLDSV.pdb

Demo QLDSV/obj/Debug/Demo_QLDSV.Form1.resources

Demo QLDSV/obj/Debug/Demo_QLDSV.Form2.resources

Demo QLDSV/obj/Debug/Demo_QLDSV.Form3.resources

Demo QLDSV/obj/Debug/Demo_QLDSV.Properties.Resources.resources

Demo QLDSV/obj/Debug/DesignTimeResolveAssemblyReferences.cache

Demo QLDSV/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Demo QLDSV/obj/Debug/TempPE/QLDSV_VIEWKHOA.Designer.cs.dll

Demo QLDSV/obj/Debug/TempPE/QLDSVDataSet.Designer.cs.dll

Demo QLDSV/obj/Debug/Demo_QLDSV.frmLogin.resources

Demo QLDSV/obj/Debug/Demo_QLDSV.frmLop.resources

Demo QLDSV/obj/Debug/Demo_QLDSV.MainForm.resources

Demo QLDSV/obj/Debug/Demo_QLDSV.SubjectForm.resources

Demo QLDSV/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Demo QLDSV/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

Demo QLDSV/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Demo QLDSV/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

Demo QLDSV/Properties/licenses.licx

Demo QLDSV/QLDSVDataSet.cs

Demo QLDSV/QLDSVDataSet.Designer.cs

Demo QLDSV/QLDSVDataSet.xsd
