<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSVConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-BBJTHA5\SV;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
