USE [QLDSV]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_DANGNHAP]
@LGNAME NVARCHAR (50)
AS
DECLARE @USERNAME NVARCHAR(50)
SELECT @USERNAME=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@LGNAME)
if @USERNAME in (SELECT MASV FROM SINHVIEN)
SELECT USERNAME = @USERNAME,
HOTEN = (SELECT HO + ' '+ TEN FROM SINHVIEN  WHERE MASV = @USERNAME ),

NAME FROM sys.sysusers WHERE UID = 
(SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID=
 (SELECT UID FROM sys.sysusers  WHERE NAME=@USERNAME))
GO
/****** Object:  StoredProcedure [dbo].[sp_createsv]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TAO SP THEM SINH VIEN
CREATE PROC [dbo].[sp_createsv](@MASV char(12)
,@HO nvarchar(40)
,@TEN nvarchar(10)
,@MALOP char(8)
,@PHAI bit
,@NGAYSINH datetime
,@NOISINH nvarchar(40)
,@DIACHI nvarchar(80)
,@GHICHU ntext
,@NGHIHOC bit)
AS
INSERT INTO SINHVIEN(MASV,HO,TEN,MALOP,PHAI,NGAYSINH,NOISINH,DIACHI,GHICHU,NGHIHOC)
VALUES(@MASV,@HO,@TEN,@MALOP,@PHAI,@NGAYSINH,@NOISINH,@DIACHI,@GHICHU,@NGHIHOC)
GO
/****** Object:  StoredProcedure [dbo].[Tim_Hoten]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tim_Hoten] 
@MASV int
AS
select HO, TEN from SINHVIEN where MASV = @MASV
GO
/****** Object:  StoredProcedure [dbo].[sp_themlop]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TAO SP THEM LOP
CREATE PROC [dbo].[sp_themlop](@MALOP char(8)
,@TENLOP nvarchar(200)
,@MAKH char(4))
AS
INSERT INTO LOP(MALOP,TENLOP,MAKH)
VALUES(@MALOP,@TENLOP,@MAKH)
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP_GIAOVIEN]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP_GIAOVIEN]
@LGNAME NVARCHAR (50)
AS
DECLARE @USERNAME NVARCHAR(50)
SELECT @USERNAME=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@LGNAME)
if @USERNAME in (SELECT MAGV FROM GIANGVIEN)
SELECT USERNAME = @USERNAME,
HOTEN = (SELECT HO + ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @USERNAME ),

NAME FROM sys.sysusers WHERE UID = 
(SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID=
 (SELECT UID FROM sys.sysusers  WHERE NAME=@USERNAME))
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtralop]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_kiemtralop]
  @MALOP char(8)
AS
  BEGIN
IF EXISTS(SELECT MALOP FROM DBO.LOP WHERE DBO.LOP.MALOP = @MALOP)
				BEGIN
					SELECT MALOP FROM DBO.LOP WHERE DBO.LOP.MALOP = @MALOP
				END
			ELSE IF EXISTS(SELECT MALOP FROM LINK2.QLDSV.DBO.LOP AS P WHERE P.MALOP = @MALOP)
				BEGIN
					SELECT MALOP FROM  LINK2.QLDSV.DBO.LOP AS P WHERE P.MALOP = @MALOP
				END
			ELSE
				RETURN -1
				END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 08/23/2020 11:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
RETURN 0  -- THANH CONG
GO
